# Common files that should be ignored in all projects

# Logs
*.log
# Temporary files
*.tmp
*~

*.bak
.env
*.env
.env.*
*.local

### Dotnet ###
# .NET build outputs and development files

bin/
obj/
*.user
*.userosscache
*.sln.docstates

.vs/
*_i.c
*_p.c
*.ncb
*.suo

*.tlb
*.tlh
*.bak
*.cache
*.ilk

*.log
*.lib
*.sbr
*.sdf
packages/

TestResults/
[Bb]in/
[Dd]ebug/
[Rr]elease/
